{% extends "base.html" %} {% load static %} {% block css %}

<!-- <script
  defer
  src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
></script> -->

{%endblock%} {% block body %}
<section class="mb-4">
  <noscript>You need to enable JavaScript to run this app.</noscript>

  <div id="root"></div>
</section>
{% endblock %} {% block js%}

<body></body>
{% endblock %}
