<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Web Scraping As A Service (WSAAS) For Online Training</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/shards.min.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/all.min.css' %}" />
    {% block css %}{% endblock %}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"> WSAAS </a>
          <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li class="nav-item">
              <a
                class="nav-link p-2"
                href="https://docs.google.com/document/d/1w0j1SuHn6GwqvXfQqxCOGJe_4XRsr0FcFZneXla-0r0/edit?usp=sharing"
                target="_blank"
                rel="noopener"
                aria-label="Project"
                ><i class="far fa-file-word"></i
              ></a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link p-2"
                href="https://docs.google.com/presentation/d/1fGFvC-zFxxk6AppLO94gDabEqbVbX52CRsIy81C_uAw/edit?usp=sharing"
                target="_blank"
                rel="noopener"
                aria-label="Project Presentation"
                ><i class="far fa-file-powerpoint"></i
              ></a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link p-2"
                href="https://github.com/citguru"
                target="_blank"
                rel="noopener"
                aria-label="GitHub"
                ><i class="fab fa-github"></i
              ></a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link p-2"
                href="https://twitter.com/OyetokeT"
                target="_blank"
                rel="noopener"
                aria-label="Twitter"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      {% block body %} {% endblock %}
    </main>
    <div class="footer">
      <!-- <div class="links">
        <a href="http://citguru.github.io/"><i class="fa fa-link"></i></a>
        <a href="http://www.github.com/citguru"
          ><i class="fab fa-github"></i
        ></a>
        <a href="http://www.twitter.com/OyetokeT"
          ><i class="fab fa-twitter"></i
        ></a>
      </div> -->
      <!-- WSAAS | Built with
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <title>Group 4@2x</title>
        <desc>Created with Sketch.</desc>
        <g fill="none">
          <g>
            <path d="M0 0h24v24h-24z" />
            <path
              d="M19.672 6.093c-.482-1.351-1.569-2.398-2.87-2.841-1.698-.578-3.318-.111-4.469.909-.192.17-.481.179-.673.009-.81-.715-1.854-1.141-2.994-1.141-2.577 0-4.666 2.193-4.666 4.913 0 1.225.426 2.412 1.127 3.192l6.603 6.44c.161.19.443.189.603-.002l6.43-6.437c1.102-1.138 1.588-3.136.909-5.04z"
              fill="#E91E63"
              fill-rule="nonzero"
            />
          </g>
        </g>
      </svg>
      By Oyetoke Toby -->
    </div>
  </body>
  {% block js%} {% endblock %}
</html>
