{% extends "base.html" %} {% block body %}
<section class="container mb-4">
  <div class="jumbotron">
    <h2>Web Scraping As A Service (WSAAS) For Online Training</h2>
    <h4>
      Project built with Python, Django, React and JavaScript (Gulp) by Oyetoke
      Toby
    </h4>
    <a class="btn btn-primary mt-1 text-white" href="/app"
      ><i class="fa fa-play "></i> See it in action</a
    >
  </div>
</section>
<section class="container-fluid mb-4 text-center py-4">
  <h4>Project Files</h4>
  <a
    title="Project (Word)"
    class="project-icon"
    href="https://docs.google.com/document/d/1w0j1SuHn6GwqvXfQqxCOGJe_4XRsr0FcFZneXla-0r0/edit?usp=sharing"
    target="_blank"
    ><i class="far fa-file-word"></i
  ></a>
  <a
    title="Project Presentation (PowerPoint)"
    class="project-icon"
    href="https://docs.google.com/presentation/d/1fGFvC-zFxxk6AppLO94gDabEqbVbX52CRsIy81C_uAw/edit?usp=sharing"
    target="_blank"
    ><i class="far fa-file-powerpoint"></i
  ></a>
</section>

{% endblock %}
